@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.SpreadsheetGrid {
  /* border: 1px solid rgba(0, 0, 0, 0.15) !important */
  /* -webkit-box-shadow: 0px 0px 127px -43px rgba(117,117,117,1) !important;
-moz-box-shadow: 0px 0px 127px -43px rgba(117,117,117,1) !important;
box-shadow: 0px 0px 127px -43px rgba(117,117,117,1) !important; */
border-top: 5px !important;
border-left: 5px !important;
border-right: 5px !important;
border-bottom: 5px !important;
border: 1px solid red;
}

.SpreadsheetGrid__headCell {
    background-color: #2a63ffb4 !important;
  /* background-color: rgb(108, 207, 108) !important; */
  color: rgb(255, 255, 255) !important;
  font-weight: 700 !important;
  display: flex !important;
  justify-content: center !important;
  font-size: 14px !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  padding: 16px !important;
}

.SpreadsheetGrid__cell {
  border-collapse: collapse !important;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15) !important; 
   
}

.SpreadsheetGrid__cell_active {
  border:1px solid  rgb(85, 85, 255) !important;
}

